<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nasageek.utexasutilities"
    android:installLocation="auto" >

    <permission
        android:name="com.nasageek.utexasutilities.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.nasageek.utexasutilities.permission.MAPS_RECEIVE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="UTilitiesApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.UTilities" >

        <!-- release API key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDbKUcoAOFioEaFXqPiEJ3Rx-bC1Sg2-0s" />

        <!-- debug: "AIzaSyDdQ8isPMaFCEnEaIUR9_3dzPV2n-d8vFw" -->

        <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver"
                  android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.AnalyticsService"
                 android:enabled="true"
                 android:exported="false"/>

        <activity
            android:name=".activities.UTilitiesActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.DataUsageActivity"
            android:label="Data Usage"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout" />
        <activity
            android:name=".activities.AboutMeActivity"
            android:label="About" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="Login"
            android:noHistory="true" />
        <activity
            android:name=".activities.PreferenceActivity"
            android:label="Preferences"
            android:theme="@style/Theme.UTilities.Preferences" >
        </activity>
        <activity
            android:name=".activities.ScheduleActivity"
            android:label="Schedule"
            android:theme="@style/Theme.UTilities.NoShadow" />
        <activity
            android:name=".activities.CampusMapActivity"
            android:label=""
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.BalanceActivity"
            android:theme="@style/Theme.UTilities.NoShadow"
            android:label="Transactions" />
        <activity
            android:name=".activities.MenuActivity"
            android:theme="@style/Theme.UTilities.NoShadow"
            android:label="Menus" />
        <activity
            android:name=".activities.NutritionInfoActivity" />

        <provider
            android:name="com.nasageek.utexasutilities.BuildingProvider"
            android:authorities="com.nasageek.utexasutilities.buildingprovider" />

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>