<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.nasageek.utexasutilities"
      android:versionCode="9"
      android:versionName="1.66">
    <uses-sdk android:minSdkVersion="7"
    		  android:targetSdkVersion="16"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
    <application android:icon="@drawable/launcher"
				 android:label="@string/app_name"
				 android:theme="@style/Theme.UTilities"
				 android:hardwareAccelerated="false">
        
        <activity android:name=".UTilitiesActivity"
                  android:label="@string/app_name"
                  android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:name=".AttachmentDownloadService"/>
        
        <activity android:name="com.crittercism.NotificationActivity"/>
        
        <activity android:name=".DataUsageActivity"
        		 android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"></activity>
        
        <activity android:name=".BlackboardAnnouncementsActivity"
            	  android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"></activity>
        
        <activity android:name=".BlackboardGradesActivity"
            	  android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"></activity>
        
        <activity android:name=".BlackboardAssignmentActivity"
            	  android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"></activity>
        
        <activity android:name=".BlackboardExternalItemActivity"
            	  android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"></activity>
        
        <activity android:name=".BlackboardDownloadableItemActivity"
            	  android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"></activity>
        
        <activity android:name=".BlackboardActivity"
        		  android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"></activity>
        
        <activity android:name=".CourseMapActivity"
            	 android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"></activity>
         
        <activity android:name=".AboutMeActivity"
        		  android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"></activity>
        
        <activity android:name=".LoginActivity"
        		  android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
        		 android:noHistory="true"></activity>
       
        <activity android:name=".Preferences"
        		  android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"></activity>
        
        <activity android:name=".ScheduleActivity"
        		  android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"></activity>
        
        <activity android:name=".CampusMapActivity"
        		  android:launchMode="singleTop"
        		  android:configChanges="orientation|keyboardHidden|screenSize|screenLayout">
        	<intent-filter>
	            <action android:name="android.intent.action.SEARCH" />
	        </intent-filter>
        	<meta-data android:name="android.app.searchable"
					   android:resource="@xml/searchable"/>
        		</activity>
        		
        <activity android:name=".BalanceActivity" 
        		  android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"></activity>
        
        <activity android:name=".MenuActivity"
        		 android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"></activity>
        
        <activity
            android:name=".WelcomeScreen"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".searchInputScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".displaySearchResults"
            android:screenOrientation="portrait" />
        <activity android:name=".showLibraryTimings2"
            android:screenOrientation="portrait" />
        <activity android:name=".settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reserveStudyRoom"
            android:screenOrientation="portrait" />
        <activity android:name=".displayRoomResults" 
            android:screenOrientation="portrait"/>
        <activity android:name=".renewBooks"
            android:screenOrientation="portrait" />
        <activity android:name=".saveBooks"
            android:screenOrientation="portrait" />
        <activity android:name=".libraryMaps"
            android:screenOrientation="portrait" />
        <activity android:name=".finalizeRoomReservation" 
            android:screenOrientation="portrait"/>
        <activity android:name=".searchInputScreen_advanced"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".libraryMapsShowImages"
            android:screenOrientation="portrait" />
         	
        <provider android:name=".BuildingProvider"
         			 android:authorities="com.nasageek.utexasutilities.buildingprovider"/>
     
        <uses-library android:name="com.google.android.maps"/>
    </application>
</manifest>